{% extends "base.html" %}

<!-- main_menu -->
{% block main_menu %}
    <a href="" class="logo">
        <img src="https://user.oc-static.com/upload/2020/09/18/16004297044411_P7.png" alt="LITReview"/>
    </a>
    <nav>
        <ul class="main-menu">
            <li><a href=""> Flux </a></li>
            <li><a href=""> Posts </a></li>
            <li><a href=""> Abonnements </a></li>
            <li><a href=""> Se déconnecter </a></li>
        </ul>
    </nav>
{% endblock main_menu %}

<!-- content -->
{% block content %}
    <div class="content">
    ici vient le code du log
    </div>
{% endblock content %}