{% extends "base.html" %}

{% block content %}
    <div class="p-5">
        <form method="post" action="/follow/">
            <div class="p-2">
                {% csrf_token %}
                <h3 class="text-center">Suivi d'autres utilisateurs</h3>
                <div class="">
                    {{ follow_an_user }}
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>                
            </div>
        </form>
    
        <form method="GET">
            <div class="p-5">
                <h3 class="text-center">Abonnements</h3>
                {% comment %}Abonnements{% endcomment %}
                {% for user in users_followed %}
                    <div class="input-group mb-1">
                        <div class="position-relative form-control">
                            <div class="position-absolute start-0 px-1">
                                {{ user.followed_user }}
                            </div>
                        </div>
                        <a href="/follow/delete/{{user.id}}/" type="button" class="btn btn-primary">Désabonner</a>
                    </div>
                {% endfor %}
            </div>
            <div class="p-5">
                <h3 class="text-center">Abonnés</h3>
                {% comment %}Abonnés"{% endcomment %}
                {% for user in followed_by %}
                    <div class="input-group mb-1">
                        <div class="form-control ">
                            <div class="">
                                {{ user.user }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock content %}