{% extends "base.html" %}

<!-- content -->
{% block content %}
    <div class="d-flex justify-content-center">
        <div class="">
            <h2 class="text-center py-2">Créer un Ticket</h2>
            <form method="POST" action="/ask/">
                {% csrf_token %}     
                <div class="position-relative">
                    <div class="border border-secondary p-2">
                        <div class="position-absolute top-0 end-0 p-2">{{ ticket.time_created }}</div>
                        <label for="id_title" class="form-label">Titre</label>
                        {{ form.title }}
                        <label for="id_description" class="form-label">Description</label>
                        {{ form.description }}
                        {% comment %} 
                        <!-- Uncomment for image integration -->
                            BUTTON 
                        {% endcomment %}
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-primary ">Envoyer</button>
                        </div>  
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}