{% extends "base.html" %}

<!-- main_menu -->
{% block main_menu %}
    <a href="/login/" class="logo">
        <img src="https://user.oc-static.com/upload/2020/09/18/16004297044411_P7.png" alt="LITReview"/>
    </a>
{% endblock main_menu %}

<!-- content -->
{% block session %}
    login<br>
    <a href="/signin/" class="btn btn-primary">Sign-in</a>
    <form method="post" class="form-group">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock session %}