{% extends "base.html" %}

<!-- content -->
{% block session %}
<div class="row">
    <div class="col text-center">
    presentation
        <div class="row">
            <div class="col">
                <h1>Register</h1>
            </div>
            <div class="col">
                <h1>Login</h1>
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center">
                <a href="/signin/" class="btn btn-primary">Sign-in</a>
            </div>
            <div class="col align-self-center">
                <form method="post">
                {% csrf_token %}
                {{ form }}
                <div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}