{% extends "base.html" %}

<!-- main_menu -->
{% block main_menu %}
    <a href="/login/" class="logo">
        <img src="https://user.oc-static.com/upload/2020/09/18/16004297044411_P7.png" alt="LITReview"/>
    </a>
    <nav>
        <ul class="main-menu">
            <li><a href="/flow/"> Flux </a></li>
            <li><a href="/posts/"> Posts </a></li>
            <li><a href="/follow/"> Abonnements </a></li>
            <li><a href=""> Se déconnecter </a></li>
        </ul>
    </nav>
{% endblock main_menu %}

<!-- content -->
{% block content %}
    <div class="content">
    création de critique
    </div>
{% endblock content %}