{% extends 'base.html' %}

{% block session %}
<div class="align-middle text-center">
    <h1>Inscrivez-vous</h1>
    <form method="POST" class="form-horizontal d-grid gap-3">
        <div class="d-grid gap-1">
            {% csrf_token %}
            <div class="mb-3">
                {% for input in form %}
                    <div class="py-1">
                        {{ input }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <a href="/connect/" class="btn btn-outline-primary">Retourner</a> 
            <input type="submit" class="btn btn-primary" value="S'inscrire"/>
        </div>
    </form>
</div>
{% endblock %}