{% extends 'base.html' %}
{% block session %}

<div class="align-middle text-center">
    <h1>Register</h1>
    <form method="POST" class="form-horizontal d-grid gap-3">
        <div class="d-grid gap-1">
        {% csrf_token %}
        {% for input in form %}
            <div>
            {{ input }}
            </div>
        {% endfor %}
        </div>
        <div>
            <a href="/login/" class="btn btn-outline-primary">Back</a> 
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>
    </form>
</div>

{% endblock %}